<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Quest 1's final Horizon OS cannot promote a running 2D panel to an
             immersive activity. Put the game itself in the library instead. -->
        <activity android:name=".QuestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.oculus.intent.category.VR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".SettingsLauncher"
            android:exported="true"
            android:label="@string/quest1_settings_name"
            android:targetActivity=".launcher.LauncherActivity">
            <intent-filter android:priority="-1">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
